<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>ongkir</name>
	<displayName><![CDATA[Ongkir]]></displayName>
	<version><![CDATA[0.0.1]]></version>
	<description><![CDATA[Shipping rates for Indonesia]]></description>
	<author><![CDATA[FalahDev]]></author>
	<tab><![CDATA[shipping_logistics]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
